<!DOCTYPE html>
<html lang="en">
<head>
  <title>Página não encontrada</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="icon" href="http://www.absoluteozone.com/images/printed-matter-books-icon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div class="container">
  
  <div class="text-center">
    <h1>Page not found</h1>
    <p class="lead">A página requisitada não foi encontrada no servidor</p>
  </div>
  
	</div>
</body>
</html>